body {
        margin-top: 80px;
        margin-right: 250px;
        margin-left: 250px;
        margin-bottom: 100px;
    }

    h1 {
        text-align: center;
        border: 2px solid black;
        text-shadow: gray 2px 3px;
        padding: 30px;
        font-weight: 500;
        font-family: "Times New Roman", Times, serif;
        font-size: 40px
    }

    body {
        background-image: linear-gradient(to right, green, white, red);
    }

    .collosseum {
        border-radius: 50%;
        box-shadow: black 4px 4px;
        margin-right: 500px;
        width: 200px;

    }

    .stanza {
        text-align: center;
        border-left: dotted gray 2px;
        border-right: dotted gray 2px;
        font-family: cursive;
    }

    .img2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 180px;
        box-shadow: black 4px 4px;

    }

    .img3 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-shadow: black 4px 4px;

    }

    .img4 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        box-shadow: black 4px 4px;
    }

    .img5 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-shadow: black 4px 4px;
    }

    footer {

        padding-top: 20px;
        padding-left: 340px;
        text-align: left;
        font-size: 16px
    }

    ul {
        list-style-type: square;
    }

    ol {
        list-style-type: upper-roman;
        font-size: 25px;
    }

    h2 {
        font-size: 25px;
    }

    p {
        font-size: 16px;
    }
